* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(246, 241, 196);
    background-color: #000000;
}
body{
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(20px, 1fr, 1fr, 1fr);
    place-items: center;
}

.Events__slides {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #050e03;
    border-bottom: 30px solid black;
}


.event__image {
    width: 500px;
    height: auto;
    object-fit: fill;
    justify-content: center;
}

.Event__text{
    display: grid;
    justify-content: center;
    place-items: center;
    background-color: #050e03;
    
}

.Event__register{
    color:rgb(0, 7, 3);
    font-size: medium;
    background-color:rgb(255, 247, 174);
    width: 150px;
    padding: 5px;
    margin-bottom: 15px;
}
p{
    width: 250px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #050e03;
}

a{
font-size: 20px;
text-decoration: none;
place-items: center;
font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
border: 20px solid black;
}