* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(245, 237, 164);
    scroll-behavior: smooth;
}

body{
    display: grid;
    margin: 0px;
    min-height: 100vh;
    grid-template: 
    "header header" 30px
    "left right";

border: solid rgb(7, 3, 3) 50px;
overflow: hidden;
}

.header{
    grid-area: header;
    display: grid;
    justify-content: center;
    place-items: center;
}

video{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    
} 

.left-menu{
    grid-area: left;
    margin-left: 40px;
   
}

.right-menu{
    grid-area: right;
}

ul{
    padding: 30px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 30px;
}

li{
    padding: 30px;
}

.language-options{
    color: black;
    width: 250px;
    height:30px;
    background-color: rgb(245, 237, 164);
    font-size: 20px;
}

option{
    color: black;
}

.language-label{
    font-size: 30px;
    width: fit-content;
}

button{
    font-size: 20px;
    width:250px;
    color: black;
    background-color: rgb(245, 237, 164);
}