* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(246, 241, 196);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 500px 600px 500px;
    background-color: rgb(0, 7, 3);
    overflow-x: hidden; 
}



.main-page {
    display: grid;
    position:relative;
}

.Main-page__bg-video {
    display: grid;

}

.Main__bg-video {
    display: block;
    width: 100%;
    z-index: -1;
    margin: auto;
}

.header {
    display: grid;
    grid-auto-flow: column;
    z-index: 30;
    position: absolute;
    justify-items: center;
    width: 100%;

}

.Main-page__logo {
    width: 80px;
}

.header__profile,
.header__list {
    display: grid;
    place-items: center;
}

.header__profile a:hover,
.header__list a:hover{
    color:rgb(252, 240, 134);
}

.header__profile a:active,
.header__list a:active{
    color:rgb(255, 247, 177);
}


ul {
    list-style: none;
    font-size: 20px;

}

li {
    display: inline-block;
    padding-right: 35px;
}


.Main-page__text {
    display: grid;
    grid-auto-flow: row;
    z-index: 0;
    padding: 20%;
    position: absolute;
    place-items: center;

}

h1 {
    font-size: 45px;
    padding: 10px;
    color: rgb(255, 247, 174);
}

.Events {
    display: grid;
    align-items: center;
    place-content: center;

}

.Events__slides {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(5, 14, 3);
    ;
}

.Events__slides:hover{
    box-shadow: 1px 1px 20px 1px rgb(10, 29, 6);
}

.event__image {
    width: 600px;
    border-left: 13px solid black;
    height: auto;
    object-fit: cover;
    justify-content: center;
}

.Event__text {
    display: grid;
    justify-content: center;
    place-items: center;
}

.Event__register {
    color: rgb(0, 7, 3);
    font-size: medium;
    background-color: rgb(255, 247, 174);
    width: 150px;
    padding: 5px;
    margin-bottom: 15px;
}

.Event__register:hover{
    background-color: rgb(252, 240, 134);
}

.Event__register:active{
    background-color: rgb(255, 242, 123);
    border: 1px solid rgb(255, 255, 255);
}

.Event__register:focus{
    background-color: rgb(62, 219, 41);
    border: 1px solid rgb(255, 255, 255);
    contain: "succesfully registered";

}


p {
    width: 250px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.movie-collection__bg-image {
    display: block;
    width: 100%;
    z-index: -1;
    margin: auto;
    object-fit: fill;

}

.Movie-collection__list {
    display: grid;
    grid-auto-flow: column;
    z-index: 0;
    position: absolute;
    justify-items: left;
    margin: 75px;
    width: 100%;
   
}

.Movie-collection__list li {
    padding-top: 30px;
    
}

.Movie-collection__list a {
    text-decoration: none;
    color: rgb(255, 247, 174);
    background-color:#79564f5e; 
    width: 100px;
}

.Movie-collection__list a:hover{ 
    color: rgb(255, 250, 202);
    background-color:#7e645f5e; 
    width: 150px;
}
.Movie-collection__title {
    color: rgb(255, 247, 174);
    font-size: 25px;
    position: absolute;
    left: 40%;
    margin-top: 20px;
}

.poster {
    width: 100px;
    padding: 10px;
}

.collection__poster {
    display: none;
    transition: 2s;
}


.display-checkbox:checked~.collection__poster {
    display: grid;
    grid-auto-flow: row;
    width: fit-content;
    padding: 10px;
    grid-gap: 20px;
    position: absolute;
    z-index: 0;
    left:-25px;
    top: 70px;
    place-items: center;
    background-color: #79564f5e;
}

.display-checkbox {
    appearance: none;
}

.display-checkbox::before {
    content: "Click for Recommended";
    font-size: 25px;
    color: rgb(255, 247, 174);
    padding: 5px;
    background-color: #79564f5e;
}


.collection__poster__title {
    color: rgb(255, 247, 174);
    font-size: 15px;
}

.recommended {
    position: absolute;
    z-index: 0;
    left:40%;
    margin-top: 15%;
}
.poster__list{
    display: grid;
    grid-auto-flow: column;
}

.About-us__bg-img{
display: block;
}

.About-us {
    border-top: 20px solid rgb(0, 7, 3);
    background-color: rgb(0, 10, 5);;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 40px;
    place-items: center;
    color: rgb(255, 247, 174);
}

.About-us h2{
    color: rgb(255, 245, 152);  
}

.About-us p{
    color: rgb(255, 247, 174);  
}

.social-media-icons{
    width: 50px;
    padding:10px;
    transition: 0.3s;
}

.social-media-icons:hover{
    width: 53px;
    padding:10px;
}

@media screen and (max-width: 800px) {
    .header__list ul{
        display: grid;
        grid-auto-flow: row;
        z-index: 30;
        position: absolute;
        justify-items: left;
        overflow-x: hidden;
        grid-gap:30px;
}
.header{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 70px;
    justify-content: left;
    padding: 50px;
margin-top: 60px;
}
.Main-page__logo{
   display: none;
}

.header__profile a{
    padding-top: 60px;
    padding-right: 100px;
}

.Main-page__text {
    display: grid;
    grid-auto-flow: row;
    z-index: 1;
    padding: 0%;
    margin-left: 40%;
    margin-top: 20%;
    position: absolute;
    left:100px;
}

}