* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(246, 241, 196);
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: black;
}




.Events {
    background-color: blueviolet;

}

.Movie-collection {
    background-color: brown;

}

.About-us {
    background-color: aquamarine;
}

.Main-page__bg-video {
    display: grid;

}

.Main__bg-video {
    display: block;
    width: 100%;
    z-index: -1;
    margin: auto;
}

.header {
    display: grid;
    grid-auto-flow: column;
    z-index: 0;
    position: absolute;
    justify-items: center;
    width: 100%;

}

.Main-page__logo{
    width: 80px;
}
.header__profile-icon,
.header__list{
display: grid;
place-items: center;

}

ul{
   list-style: none; 
   font-size: 20px;
   
}

li{
  display: inline-block;
  padding-right: 35px;
}

.user-icon{
    width: 30px;
}